html
  head
    title Gwampi 2050
    link(rel='stylesheet', href='/static/css/style.css')
    script(src='/static/lib/jquery-3.3.1.js')
    script(src='/socket.io/socket.io.js')
  body
    div.image(style={height: '13%'})
      br
      div.right
        div#clock.date
          script.
            var socket = io.connect('http://localhost:8080/');
            $(document).ready(function () {
              $('#poke').click(function() {
                socket.emit('message', 'Hello Server!');
              });
              socket.on('message', function(msg) {
                console.log('server: ' + msg);
                alert('server: ' + msg);
              });
            });
        br
        p
          input#poke(type='button', value='Poke the Server')
        br

        if user
          div.left
            a.button(href='/grid') Grid Site
          div.block #{user.fullname}
          div.verti
          div.block(style={'margin-bottom': '5px'})
            a(href='/logout') Logout
        else
          div.block
            a(href='/login') Login
          div.verti
          div.block(style={'margin-bottom': '5px'})
            a(href='/signup') Sign Up
      div#main(style={width: '100%', height: '400px', 'background-color': black})
